<h4>Cadastro de Pessoas</h4>

<div class="section">
  <div class="row">
    <form class="col s12" #f="ngForm" (ngSubmit)="salvar(f)">
      <div class="row">
        <div class="input-field col s12">
          <label for="txtNome">Nome</label>
          <input id="txtNome" type="text" name="nome" ngModel required>
        </div>
        <div class="input-field col s12">
          <label for="txtSobrenome">Sobrenome</label>
          <input id="txtSobrenome" type="text" name="sobreNome" ngModel required>      
        </div>
        <div class="input-field col s12">
          <label for="txtContato">Contato</label>
          <input id="txtContato" type="text" name="contato" ngModel>
        </div>
        <button class="btn">Salvar</button>
        <button class="btn" type="reset" (click)=limparCampos(f)>Limpar</button>
      </div>
    </form>
  </div>  
</div>